$primary:#22404f;
$secondary: #ffffff;

.z-default .panel-info>.panel-heading {
  color: $secondary;
  background-color: $primary;
  border-color: $primary;
  border-radius: 0px;
}

.z-default .panel-info {
  border: none;
  border-radius: 0px;
}

.z-default .z-img-ch{
  max-width: 80px !important;
}

.btn-custom {
	width: 85px;
	margin-top: 10px;
}