$primary:#23527c;
$secondary: #fff;
$light: #22404f;
$dark:#B2B2B2;
$black:#000;

/*cart start*/
.z-default .z-tr-s {
  color: $secondary;
  background-color: $light;
  border-color: $light; }

.z-default .z-cart-s {
  color: $secondary;
  background-color: $dark;
  border-color: $dark; }

/*btn-css*/
.z-default .btn-custom {
  color: $secondary !important;
  background-color: $light !important;
  border-color: $light !important;
  border-radius: 0px !important; }

.z-default .btn-custom:hover {
  color: $secondary !important;
  background-color: $black!important;
  border-color: $black !important;
  border-radius: 0px !important; }

/*cart End*/
