<video autoplay loop class="fillWidth background-video">
   <source src="http://demo.deviserweb.com/zeno/assets/video/video.mp4" type="video/mp4"/>
   <source src="http://demo.deviserweb.com/zeno/assets/video/video.webm" type="video/webm"/>
</video>
<div class="poster hidden">
   <img src="images/video.jpg" alt="event video poster">
</div>
<nav class="navbar navbar-fixed-top main-navbar-top multi-logo" id="main-navbar-top" >
   <div class="container relative">
      <div class="navbar-header">
         <button type="button" class="nav-trigger nav-trigger-animate " data-target="#navbar-menu">Menu
         <span aria-hidden="true" class="icon"></span>
         </button>
         <a class="navbar-brand dark-logo" href="#"><img src="http://demo.deviserweb.com/zeno/assets/images/logo-light.png" alt="" class="img-responsive"></a>
         <a class="navbar-brand light-logo" href="#"><img src="http://demo.deviserweb.com/zeno/assets/images/logo-light.png" alt="" class="img-responsive"></a>
      </div>
      <div class="navbar-collapse" id="js-navbar-menu">
         <ul id="navbar-nav" class="nav navbar-nav navbar-right">
            <li><a class="btn-nav" href="#header">HOME</a></li>
            <li><a class="btn-nav" href="#about-us">Services</a></li>
            <li><a class="btn-nav" href="#featured">FEATURED</a></li>
            <li><a class="btn-nav" href="#faq">FAQ</a></li>
            <li><a class="btn-nav" href="#testimonial">TESTIMONIAL</a></li>
         </ul>
      </div>
   </div>
</nav>
<header class="header light" id="header">
   <div class="overlay-color">
      <div class="container">
         <div class="row">
            <div class="part-1 col-md-5 col-sm-7">
               <div class="part-inner">
                  <h4 class="title">WE PROVIDE STUNNING SOLUTION</h1>
                  <p class="detail">ZadP offers a service spectrum ranging from conceptualizing, planning, designing, implementing and maintaining software applications and websites that yield considerable results for any company. We have many valuable years of experience in website designing and software development using the latest web technologies.</p>
                  <div class="btn-form btn-scroll"> 
                     <div id="demo" class="collapse">
            <ul>
                  <li>  Website design & Hosting</li>
                    <li>Web Applications</li>
                    <li>Mobile App Development</li>
                    <li>SEO & SMO Services</li>
                    <li>Start Up Consulting – Business / MVP</li>
                    <li>Brand Management</li>
                    </ul>
                  </div>
              <button type="button" class="btn fill btn-js" data-toggle="collapse" data-target="#demo">Read more<i class="hc-arrow-right"></i></button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
<section class="features-section-1 dark-background" id="about-us">
   <div class="container">
      <div class="row section-separator">
         <div class="section-header col-md-10 col-md-offset-1">
            <h3 class="section-heading">Our Service</h3>
            <div class="separator with-icon"><i class="fa fa-check bordered"></i></div>
            <!-- <p class="sub-title">LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISCING ELIT.</p> -->
         </div>
         <div class="part-1 each-hover col-xs-12">
            <div class="row">
               <div class="each-services col-md-4 col-sm-6">
                  <div class="each-services-inner">
                  <i class="fa fa-snowflake-o fa-3x" aria-hidden="true"></i>
                     <h4 class="title">Website design & Hosting</h4>
                     <p>We offer the latest web technology with exceptional server configuration best suited for your website and hosting plans.</p>
                     <div class="btn-form">  
                        <a href="#" class="btn border right-icon btn-js">VIEW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="each-services col-md-4 col-sm-6">
                  <div class="each-services-inner">
                     <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
                     <h4 class="title">Web Applications</h4>
                     <p>Our web development services includes Dynamic Website, Ecommerce development, Static Website, Business Portfolio</p>
                     <div class="btn-form"> 
                        <a href="#" class="btn border right-icon btn-js">VIEW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="each-services col-md-4 col-sm-6">
                  <div class="each-services-inner">
                    <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
                     <h4 class="title">Mobile App Development</h4>
                     <p>Our quick solutions enable clients to receive reliable mobile app which is user friendly and can operate virtually.</p>
                     <div class="btn-form">  
                        <a href="#" class="btn border right-icon btn-js">VIEW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="each-services col-md-4 col-sm-6">
                  <div class="each-services-inner">
                    <i class="fa fa-filter fa-3x" aria-hidden="true"></i>
                     <h4 class="title">SEO & SMO Services</h4>
                     <p>We have a very strategic approach to Digital Marketing and consider all the different ways to grow brands and drive sales online.</p>
                     <div class="btn-form">  
                        <a href="#" class="btn border right-icon btn-js">VIEW MORE<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="each-services col-md-4 col-sm-6">
                  <div class="each-services-inner">
                    <i class="fa fa-meetup fa-3x" aria-hidden="true"></i>
                     <h4 class="title">Start Up Consulting – Business / MVP</h4>
                     <p>MVP (Minimum Viable Product) is a technique in which a website is developed with features to satisfy the customers.ZadP helps the new startups to build their website and validate their idea in the market.</p>
                     <div class="btn-form"> 
                        <a href="#" class="btn border right-icon btn-js">VIEW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
               <div class="each-services col-md-4 col-sm-6">
                  <div class="each-services-inner">
                  <i class="fa fa-picture-o fa-3x" aria-hidden="true"></i>
                     <h4 class="title">Brand Management</h4>
                     <p>ZadP uses special techniques in order to increase the value of a product.ZadP helps in identifying the core value of a particular brand and reflecting the core value among the targeted customers.</p>
                     <div class="btn-form"> 
                        <a href="#" class="btn border right-icon btn-js">VIEW MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="features-section-3">
   <div class="container-fluid">
      <div class="full-screen">
         <div class="half-screen half-screen-left" style="background-image:url(https://images.pexels.com/photos/196644/pexels-photo-196644.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);"></div>
         <div class="half-screen half-screen-right" style="background-image: url(https://images.pexels.com/photos/209151/pexels-photo-209151.jpeg?h=350&auto=compress&cs=tinysrgb);"></div>
         <div class="container">
            <div class="row">
               <div class="col-sm-6 content-area" data-action=".half-screen-left">
                  <a class="btn-close" href="#"><i class="fa fa-eleganticons-44"></i></a> 
                  <div class="visible">
                     <div class="counter">
                        <span class="number">10</span>
                        <span class="category">Website Design</span>
                     </div>
                     <div class="btn-form">  
                        <a href="#" class="btn border btn-js right-icon">Learn more<i class="fa fa-arrow-right-1"></i></a>
                     </div>
                  </div>
                  <div class="no-visible">
                     <p>In auctor orci vitae ipsum euismod, vitae porta metus viverra. Ut facilisis luctus interdum. Cras et facilisis odio. Etiam imperdiet tincidunt metus id luctus. Sed ut pellentesque lectus. Praesent dignissim blandit risus vitae tempus.</p>
                  </div>
               </div>
               <div class="col-sm-6 content-area" data-action=".half-screen-right">
                  <a class="btn-close" href="#"><i class="fa fa-eleganticons-44"></i></a>
                  <div class="visible">
                     <div class="counter">
                        <span class="number">10</span>
                        <span class="category">Web Hosting</span>
                     </div>
                     <div class="btn-form"> 
                        <a href="#" class="btn border btn-js right-icon">Learn more<i class="fa fa-arrow-right-1"></i></a>
                     </div>
                  </div>
                  <div class="no-visible">
                     <p>In auctor orci vitae ipsum euismod, vitae porta metus viverra. Ut facilisis luctus interdum. Cras et facilisis odio. Etiam imperdiet tincidunt metus id luctus. Sed ut pellentesque lectus. Praesent dignissim blandit risus vitae tempus.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="full-screen">
         <div class="half-screen half-screen-left" style="background-image: url(https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);"></div>
         <div class="half-screen half-screen-right" style="background-image: url(https://images.pexels.com/photos/47261/pexels-photo-47261.jpeg?h=350&auto=compress&cs=tinysrgb);"></div>
         <div class="container">
            <div class="row">
               <div class="col-sm-6 content-area" data-action=".half-screen-left">
                  <a class="btn-close" href="#"><i class="fa fa-eleganticons-44"></i></a> 
                  <div class="visible">
                     <div class="counter">
                        <span class="number">10</span>
                        <span class="category">Web Application</span>
                     </div>
                     <div class="btn-form">  
                        <a href="#" class="btn border btn-js right-icon">Learn more<i class="fa fa-arrow-right-1"></i></a>
                     </div>
                  </div>
                  <div class="no-visible">
                     <p>In auctor orci vitae ipsum euismod, vitae porta metus viverra. Ut facilisis luctus interdum. Cras et facilisis odio. Etiam imperdiet tincidunt metus id luctus. Sed ut pellentesque lectus. Praesent dignissim blandit risus vitae tempus.</p>
                  </div>
               </div>
               <div class="col-sm-6 content-area" data-action=".half-screen-right">
                  <a class="btn-close" href="#"><i class="fa fa-eleganticons-44"></i></a> 
                  <div class="visible">
                     <div class="counter">
                        <span class="number">10</span>
                        <span class="category">Mobile App Development</span>
                     </div>
                     <div class="btn-form">  
                        <a href="#" class="btn border btn-js right-icon">Learn more<i class="fa fa-arrow-right-1"></i></a>
                     </div>
                  </div>
                  <div class="no-visible">
                     <p>In auctor orci vitae ipsum euismod, vitae porta metus viverra. Ut facilisis luctus interdum. Cras et facilisis odio. Etiam imperdiet tincidunt metus id luctus. Sed ut pellentesque lectus. Praesent dignissim blandit risus vitae tempus.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="features-section-4 light-background" id="faq">
   <div class="container">
      <div class="row section-separator">
         <div class="section-header col-md-10 col-md-offset-1">
            <h3 class="section-heading">Frequently asked questions</h3>
            <p class="sub-title">LOREM IPSUM DOLOR SIT AMET CONSECTETUR ADIPISCING ELIT.</p>
         </div>
         <div class="col-xs-12">
            <div class="row part-1">
               <div class="col-sm-6 col-xs-12">
                  <img src="http://demo.deviserweb.com/zeno/assets/images/parson.png" alt="">
               </div>
            </div>
            <div class="row part-2">
               <div class="col-sm-6 col-sm-offset-6 col-xs-12">
                  <div class="faq-group">
                     <div class="each-faq open ">
                        <a class="faq-trigger" href="#" >
                           <h4><i class="fa fa-hand-o-right" aria-hidden="true"></i> How do I change my password?</h4>

                        </a>
                        <div class="faq-content">
                           <p>In auctor orci vitae ipsum euismod, vitae porta metus viverra. Ut facilisis luctus interdum. Cras et facilisis odio. Etiam imperdiet tincidunt metus id luctus. Sed ut pellentesque lectus. Praesent dignissim blandit risus vitae tempus.</p>
                        </div>
                     </div>
                     <div class="each-faq">

                        <a class="faq-trigger" href="#" >
                           <h4><i class="fa fa-hand-o-right" aria-hidden="true"></i> How do I sign up?</h4>
                        </a>
                        <div class="faq-content">
                           <p>In auctor orci vitae ipsum euismod, vitae porta metus viverra. Ut facilisis luctus interdum. Cras et facilisis odio. Etiam imperdiet tincidunt metus id luctus. Sed ut pellentesque lectus. Praesent dignissim blandit risus vitae tempus.</p>
                        </div>
                     </div>
                     <div class="each-faq">
                     
                        <a class="faq-trigger" href="#" >
                           <h4><i class="fa fa-hand-o-right" aria-hidden="true"></i> Can I remove a post?</h4>
                        </a>
                        <div class="faq-content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                        </div>
                     </div>
                     <div class="each-faq">
                     
                        <a class="faq-trigger" href="#" >
                           <h4><i class="fa fa-hand-o-right" aria-hidden="true"></i> How do reviews work?</h4>
                        </a>
                        <div class="faq-content">
                           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident officiis, reprehenderit numquam. Praesentium veritatis eos tenetur magni debitis inventore fugit, magnam, reiciendis, saepe obcaecati ex vero quaerat distinctio velit.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="features-section-5 dark-background" id="testimonial">
   <div class="container">
      <div class="row section-separator">
         <div class="section-header col-md-10 col-md-offset-1">
            <h3 class="section-heading">Clients Testimonial</h3>
         </div>
         <div class="part-1 col-xs-12">
            <div id="sync2" class="owl-carousel sync2">
               <div class="item">
                  <img src="http://demo.deviserweb.com/zeno/assets/images/clients-pic/client-1.jpg" alt="" class="img-responsive">
               </div>
            </div>
            <div id="sync1" class="owl-carousel sync1">
               <div class="item">
                  <figure class="">
                     <figcaption>
                        <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a consequat nibh. Praesent sodales enim facilisis accumsan rhoncus.</blockquote>
                        <p class="name">Jennifer Joel, UX Decor</p>
                     </figcaption>
                  </figure>
               </div>
               <div class="item">
                  <figure class="">
                     <figcaption>
                        <blockquote>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</blockquote>
                        <p class="name">William Jackson</p>
                     </figcaption>
                  </figure>
               </div>
               </div>
               <div class="owl-controls clickable">
                  <div class="owl-buttons">
                     <div class="owl-prev"><i class="fa fa-arrow-left"></i></div>
                     <div class="owl-next"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<footer class="footer" id="contact-section">
   <div class="container">
      <div class="row section-separator">
         <div class="part-1 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
            <a href="#" class="logo"><img src="http://demo.deviserweb.com/zeno/assets/images/logo-light.png" alt="Logo" class="img-responsive"></a>
            <h3 class="title">Six Premium Wordpress Theme</h3>
            <p class="detail">In auctor orci vitae ipsum euismod, vitae porta metus viverra. Ut fcilisis luctus interdum. Cras et facilisis odio. Etiam imperdiet tincidunt metus id luctus.</p>
            <ul class="nav social-icon ">
               <li><a href="#" class="btn-js"><i class="fa fa-social-twitter-outline"></i></a></li>
               <li><a href="#" class="btn-js"><i class="fa fa-social-facebook-outline"></i></a></li>
               <li><a href="#" class="btn-js"><i class="fa fa-social-vimeo-outline"></i></a></li>
               <li><a href="#" class="btn-js"><i class="fa fa-social-dropbox-outline"></i></a></li>
               <li><a href="#" class="btn-js"><i class="fa fa-social-github-outline"></i></a></li>
            </ul>
            <p class="copyright">Copyright Zadp Solution Pvt Ltd., All Rights Reserved.</p>
         </div>
      </div>
   </div>
</footer>