$primary:#23527c;
$secondary: #fff;
$light: #22404f;
$dark:#B2B2B2;
$black:#000;

.z-default .panel-info > .panel-heading {
  color: $secondary;
  background-color: $light;
  border-color: $light;
  border-radius: 0px; }

.z-default .panel-info {
  border: none;
  border-radius: 0px; }

.z-default .z-img-ch {
  max-width: 80px !important; }

.btn-custom {
  width: 85px;
  margin-top: 10px; }
